@use "sass:color";

@import "../variables";

.button {
  &,
  &:link,
  &:visited {
    display: inline-block;
    padding: 16px 24px;
    color: $color-white;
    border-radius: 50px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    transition: all 0.2s;
    text-align: center;
  }

  &--primary {
    background-color: $color-blue;

    &:hover {
      background-color: color.adjust($color: $color-blue, $lightness: -10%);
    }

    &:active {
      background-color: color.adjust($color: $color-blue, $lightness: -20%);
    }
  }

  &--secondary {
    background: $color-grey-transparent;

    &:hover {
      background-color: rgba($color-green, 0.75);
    }

    &:active {
      background-color: rgba($color-green, 1);
    }
  }
}
