@import "../variables";

.socials {
  display: inline-flex;
  gap: 16px;
  align-items: center;

  &__link {
    &:link,
    &:visited {
      width: 36px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      border: 1px solid currentcolor;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-blue;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
