@import "../variables";
@import "../mixins";

.blog {
  &__container {
    padding-top: 100px;
    padding-bottom: 100px;

    @media only screen and (max-width: $bp-medium) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  }

  &__content {
    .heading-primary {
      margin-bottom: 12px;
    }
  }

  &__info {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 76px;

    .paragraph {
      flex-basis: 57.5%;

      @media only screen and (max-width: $bp-small) {
        flex-basis: auto;
      }
    }

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;

    @media only screen and (max-width: $bp-large) {
      gap: 32px;
    }

    @media only screen and (max-width: $bp-collapse) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 24px;
      row-gap: 32px;
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    background-color: $color-grey-transparent;
    border-radius: 30px;
    overflow: hidden;

    &-image {
      padding-bottom: 49%;
      position: relative;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }

      &-caption {
        display: inline-block;
        padding: 10px;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;
        color: $color-white;
        background-color: rgba($color-grey, 0.5);
        font-size: 14px;
        text-transform: capitalize;
        font-style: normal;
        font-weight: 300;
        line-height: 160%;
      }
    }

    &-body {
      padding: 36px 24px;
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    &-date {
      color: rgba($color-grey, 0.9);
      margin-bottom: 20px;
    }

    &-title {
      @include line-clip(2);

      color: $color-white;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      margin-bottom: 30px;
    }

    &-text {
      @include line-clip(4);

      margin-bottom: 22px;
      flex: 1;
    }

    &-link {
      &:link,
      &:visited {
        align-self: flex-start;
        display: inline-block;
        color: $color-blue;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 160%;
        position: relative;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 0;
        height: 1.2px;
        background-color: $color-blue;
        transition: all 0.2s;
      }

      &:hover,
      &:active {
        &::after {
          width: 100%;
        }
      }
    }
  }
}
