@import "../variables";

.header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $color-black;
  height: $header-height-desktop;

  &__container {
    height: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    gap: 36px;

    & > *:first-child {
      margin-right: auto;
    }

    @media only screen and (max-width: $bp-medium) {
      padding-top: 18px;
      padding-bottom: 18px;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    height: $header-height-mobile;
  }
}

.menu {
  display: none;
  width: rem(40px);
  height: rem(40px);
  align-items: center;
  justify-content: center;
  background-color: $color-transparent;
  border: unset;

  &__icon {
    position: relative;

    &,
    &::before,
    &::after {
      display: inline-block;
      width: 100%;
      height: 2.5px;
      border-radius: 2px;
      background-color: $color-white;
      transition: all 0.4s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
    }

    &::before {
      top: -12px;
    }

    &::after {
      top: 12px;
    }
  }

  @media only screen and (max-width: $bp-medium) {
    display: flex;
  }
}

.header.header--collapsed {
  .nav {
    left: 0;
  }

  .menu {
    &__icon {
      background-color: $color-transparent;

      &::before,
      &::after {
        top: 0;
      }

      &::before {
        transform: rotate(225deg);
      }

      &::after {
        transform: rotate(-225deg);
      }
    }
  }
}
