@import "./variables";

.u-mobile-hidden {
  @media only screen and (max-width: $bp-small) {
    display: none !important;
  }
}

.u-mobile-visible {
  display: none !important;

  @media only screen and (max-width: $bp-small) {
    display: inline-block !important;
  }
}

.u-scroll-margin {
  scroll-margin: calc(#{$header-height-desktop} - 40px);

  @media only screen and (max-width: $bp-collapse) {
    scroll-margin: $header-height-mobile;
  }
}
