$color-black: #0d0d11;
$color-white: #fff;
$color-transparent: transparent;
$color-grey: #81818b;
$color-grey-transparent: rgba($color-grey, 0.2);
$color-blue: #3d96f4;
$color-orange: #ff6d35;
$color-yellow: #f6ca4f;
$color-green: #5cc97b;
$header-height-desktop: 116px;
$bp-medium: 950px;
